body {
    font-family: cursive;
    background-color: #97ff6a;
    text-align: center;
}

#fotopena {
    width: 700px;
    border-radius: 50px;
}

img {
    border-radius: 25px;
    
}

#informacion {
    display: none;
}

#botonMiembros {
 font-size: 60px;
 border: none;
 color: white;
 padding: 14px 28px;
 cursor: pointer;
 border-radius: 5px;
 background-color: #007bff;
 transition: transform 0.3s ease-in-out;
 box-shadow: 0px 8px 16px #0000004d;
}

.pulse-effect:active {
 transform: scale(0.9);
}

#titulo {
  font-size: 50px;
}
